ehthumbs.db

# Node.js
node_modules/
dist/
public/

# Ambiente
.env
.env.*

# Logs
*.log

# IDE/config
.idea/


# Sistema
.DS_Store
Thumbs.db
ehthumbs.db
# Previews e imagens geradas

# Documentação interna
project-docs/WORK-LOG/
project-docs/ROADMAP-interno.md
